.profile_contain {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8vh;
}
.profile_header {
  position: relative;
  display: flex;
  flex-direction: column;
  .profile_img {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: end;
    img {
      width: 60vw;
      height: 40vh;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
    }
    .profile_header_control {
      margin: 1rem 1rem;
      position: absolute;
      width: 11rem;
      height: 2rem;
      border-radius: 5%;
      border: none;
      font-weight: 700;
      cursor: pointer;
    }
  }
}
.profile_header_content {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: end;
  z-index: 10;
  margin-bottom: 1rem;
  .profile_header_content_avatar {
    margin-right: 1rem;
    img {
      border-radius: 50%;
      width: 10rem;
      height: 10rem;
      margin-top: -3rem;
      z-index: 10;
    }
  }
  .profile_header_content_avatar_control {
    max-width: 20vw;
    height: 5rem;
    vertical-align: middle;
    p {
      color: white;
      font-size: 2rem;
      font-weight: 500;
      word-wrap: break-word;
      margin-bottom: 0;
    }
    a {
      text-decoration: none;
      color: white;
      font-size: 1rem;
      cursor: pointer;
      font-weight: 200;
      opacity: 0.5;
    }
    a:hover {
      text-decoration: underline;
    }
  }
  .profile_header_content_control {
    margin: 0 2rem;
    vertical-align: middle;
    height: 5rem;
    // &:nth-child(1) {
    //   background-color: blue;
    //   color: white;
    //   border-radius: 5%;
    //   cursor: pointer;
    //   width: 5rem;
    //   height: 3rem;
    // }
    .bt1 {
      background-color: blue;
      color: white;
      border-radius: 5%;
      cursor: pointer;
      width: 10rem;
      height: 2.5rem;
      margin: 0;
      svg {
        margin: 0 0.3rem;
      }
    }
    .bt2 {
      margin-top: 0.2rem;
      background-color: rgba(255, 255, 255, 0.1);
      border: none;
      border-radius: 5%;
      margin-left: 1rem;
      color: white;
      height: 2.5rem;
      cursor: pointer;
      svg {
        margin: 0 0.3rem;
      }
    }
  }
}
.profile_header_control {
  display: flex;
  flex-direction: row;
  border-top: 1px solid white;
  padding-top: 1rem;
  .profile_header_control_item {
    cursor: pointer;
    padding: 1.2rem 1.5rem;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    // .profile_header_control_normal {
    //   color: white;
    //   font-size: 1rem;
    //   font-weight: 500;
    // }
    &:hover {
      background-color: rgb(59, 61, 62);
      border-radius: 10px;
      color: white;
      font-size: 1rem;
      font-weight: 500;
    }
  }
  .profile_header_control_item_active {
    border-bottom: 5px solid blue;
    padding: 1.2rem 1.5rem;
    cursor: pointer;
    color: blue;
    font-size: 1rem;
    font-weight: 500;
  }
}
