.contain {
  display: flex;
  justify-content: space-evenly;
  padding: 8rem 0 33vh;
  position: fixed;
  width: 100%;
}
.LoginFrom {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 8px 16px rgba(0, 0, 0, 0.1);
}
.LoginFrom_text {
  padding: 1rem;
}
.input {
  width: 25rem;
  margin: 0.5rem;
  cursor: auto;
  border-radius: 5px;
  input {
    border: none;
    outline: none;
    padding: 1rem;
    margin-left: 0.5rem;
    font-size: 15px;
  }
}
.LoginFrom_button {
  button {
    background-color: rgb(8, 102, 255);
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }
}
.LoginFrom_forgot {
  text-align: center;
  a {
    cursor: pointer;
    font-size: 13px;
    color: blue;
  }
  a:hover {
    text-decoration: underline;
  }
}
.LoginFrom_register {
  text-align: center;
  padding: 0.5rem 1.5rem 2rem;
  a {
    color: white;
    text-decoration: none;
  }
  button {
    width: 50%;
    height: 2.5rem;
    font-size: 17px;
    background-color: rgb(66, 183, 42);
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }
}
.passText {
  display: grid;
  input {
    grid-column-start: 1;
  }
  button {
    grid-column-end: 3;
  }
}
.btLogin {
  background-color: transparent;
  border: none;
}
.LoginFrom_button {
  padding: 0 1.5rem;
  button {
    width: 100%;
    height: 3rem;
    font-size: 20px;
    font-weight: bold;
  }
}
.Content {
  margin-top: -1rem;
  p {
    font-size: 17px;
  }
}
h2 {
  font-size: 24px;
  font-weight: normal;
  line-height: 24px;
  margin: 0;
}
.listAccount {
  width: 40vw;
}
