.listFriend {
  width: 20vw;
  display: flex;
  flex-direction: column;
  max-height: 60vh;
  overflow: hidden;
  justify-content: start;
  margin-top: 1vh;
}
.friend {
  display: flex;
  align-items: center;
  margin-top: 0.7rem;
  cursor: pointer;
  .avatar {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }
  p {
    color: white;
    margin-left: 0.5rem;
  }
}
