.Mess_contain {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem 1rem;
  background-color: black;
}
.detailMess {
  background-color: rgb(36, 37, 38);
  width: 67%;
  border-radius: 1rem;
  padding: 1rem;
  .mess_show {
    .mess_user {
      display: flex;
      img {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
      }
      p {
        color: white;
        margin-left: 0.5rem;
      }
    }
    .mess_show_list {
      overflow: auto;
      margin-top: 1rem;
      height: 65vh;
      .mess_show_item1 {
        display: flex;
        margin-top: 0.5rem;
        img {
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
        }

        div {
          color: white;
          max-width: 50%;
          margin-left: 0.5rem;
          background-color: rgb(48, 48, 48);
          padding: 0.5rem;
          border-radius: 10px;
          word-wrap: break-word;
        }
      }
      .mess_show_item2 {
        display: flex;
        justify-content: flex-end;
        margin-top: 0.5rem;
        div {
          color: white;
          max-width: 50%;
          margin-left: 0.5rem;
          background-color: rgb(48, 48, 48);
          padding: 0.5rem;
          border-radius: 10px;
          word-wrap: break-word;
        }
      }
    }
  }
}
.infoUser {
  background-color: rgb(36, 37, 38);
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  padding-top: 2rem;
  img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }
  p {
    color: white;
  }
}
.mess_input {
  display: flex;
  flex-direction: row;
  .mess_input_other {
    display: flex;
    flex-direction: row;
    button {
      width: 3rem;
      height: 2rem;
      cursor: pointer;
      color: blue;
      margin-left: 0.2rem;
      background-color: transparent;
      border: none;
      border-radius: 999999px;
    }
    button:hover {
      background-color: rgb(51, 51, 52);
    }
  }
  .mess_input_text {
    display: inline-block;
    color: white;
    font-size: 1rem;
    width: 38vw;
    outline: none;
    margin-left: 1rem;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: rgb(51, 51, 52);
  }
}
.buttonSend {
  color: blue;

  background-color: transparent;
  border: none;
  cursor: pointer;
}
